// 仅打开flex
.flex {
  display: flex;
}

// 水平和垂直居中
.flex-center,
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 垂直居中，两头对齐
.flex-center-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 垂直居中，
.flex-center-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// 两头对齐
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

// 水平对齐
.flex-h-center {
  display: flex;
  justify-content: center;
}

// 垂直对齐
.flex-v-center {
  display: flex;
  align-items: center;
}